/* Reset body */
body {
    margin: 0;
    overflow-wrap: break-word;
}

/* Do not break Korean words */
:lang(ko) { word-break: keep-all; }

/* Reset img */
img {
    max-width: 100%;
    height: auto;
}

/* CSS Reset by [class] */
[class] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /* ol, ul */
    border: 0; /* button, fieldset, iframe, input, select, table, textarea */
    background-color: transparent; /* button, dialog, mark, meter, progress */
    border-collapse: collapse; /* table */
    border-spacing: 0; /* table */
    -webkit-appearance: none;
    appearance: none; /* button, input, meter, progress, select, textarea */
}
[class]::before,
[class]::after { box-sizing: border-box; }

/* CSS Reset by [class] - where() 선택자를 지원하는 프로젝트에서 아래 코드를 사용할 수 있음.
[class] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[class]::before,
[class]::after { box-sizing: border-box; }
[class]:where(ol, ul) { list-style: none; }
[class]:where(button, fieldset, iframe, input, select, textarea) { border: 0; }
[class]:where(button, dialog, input, mark, meter, progress) { background-color: transparent; }
[class]:where(table) {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
[class]:where(button, input, meter, progress, select, textarea) {
  -webkit-appearance: none;
  appearance: none;
}
*/
